[submodule "src/practical_deep_learning/deployment/PracticalDeepLearningForCoders"]
	path = src/practical_deep_learning/deployment/PracticalDeepLearningForCoders
	url = https://huggingface.co/spaces/Noxem/PracticalDeepLearningForCoders
